    <div id="footer">
        <div id="foot_contact">
            <a href="mailto:josh@joshbeard.me"><img src="/resume/assets/img/envelope-solid.png" alt="envelope" class="icon" /><span>josh@joshbeard.me</span></a>
        </div>
        <div id="foot_to_top">
            <a href="#top"><img src="/resume/assets/img/arrow-alt-circle-up-solid.png" alt="envelope" class="icon" /><span>Back to Top</span></a>
        </div>
        <div class="clear"></div>
        <div id="foot_source">
            <a href="https://github.com/joshbeard/resume"><img src="/resume/assets/img/git-alt-brands.png" alt="envelope" class="icon" /><span>Resume source on GitHub</span></a><br />
        </div>
        <div id="foot_copyright">
            <span>&copy; 2022 Josh Beard</span>
        </div>
        <div class="clear"></div>
    </div>
</div>
