_site/
/dist/index.html
/dist/resume.html
/dist/resume.md
/dist/resume.txt
/dist/resume.gmi
/dist/resume-narrow.txt
/dist/resume.json
.DS_Store
*.pdf
*.docx
*.log
env
/.dccache
dist/joshbeard-resume.7
.venv