_site/
/public/index.html
/public/resume.html
/public/resume.md
/public/resume.txt
/public/resume.gmi
/public/resume-narrow.txt
/public/resume.json
_serve/
.DS_Store
*.pdf
*.docx
*.log
env
/.dccache
public/joshbeard-resume.7
.venv
