* {
  border:0;
  font:inherit;
  font-size:100%;
  margin:0;
  padding:0;
  vertical-align:baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}

html, body {
  background: #408663;
  font-family: 'Georgia', times, serif;
  font-size: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
  color: #5A595A;
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  margin-bottom: 20px;
  color: #5A595A;
}

#cv {
  width: 90%;
  max-width: 800px;
  background: #F2F2F2;
  margin: 20px auto;
  box-shadow: 0 0 25px #333333;
}

.mainDetails {
  padding: 25px 35px;
  border-bottom: 1px dashed #408663;
  background: #373A44;
}

#name h1 {
  font-size: 2.5em;
  font-family: 'Georgia', times, serif;
  margin-bottom: -6px;
  line-height: 1.4em;
  color: #fff;
}

#name h2 {
  font-size: 1em;
  margin-left: 2px;
  font-family: 'Georgia', times, serif;
  color: #ededed;
}

#mainArea {
  padding: 0 40px 20px 40px;
  border-top: 4px solid #373A44;
}

#mainArea a:link {
  color: #045FB4;
  text-decoration: none;
}

#mainArea a:visited {
  color: #380B61;
  text-decoration: none;
}

#mainArea a:hover, #mainArea a:active {
  text-decoration: underline;
}

#headshot {
  width: 12.5%;
  float: left;
  margin-right: 30px;
}

#headshot img {
  width: 100%;
  height: auto;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #444;
}

#name {
  float: left;
}

#contactDetails {
  float: right;
}

#contactDetails ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 2px;
}

#contactDetails ul li {
  margin-bottom: 3px;
  color: #fff;
}

#contactDetails ul li a, a[href^=tel] {
  color: #fff;
  text-decoration: none;
}

#contactDetails ul li a:hover {
  color: #EBD94C;
}

article.job {
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px dashed #dedede;
}

article.job:last-child {
  border-bottom: none;
}

article.job ul {
  list-style: square inside;
}

.jobNote {
  color: #777;
  margin-bottom: 4px;
}

section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
}

section:first-child {
  border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

.sectionTitle {
  float: left;
  width: 18%;
}

.sectionContent {
  float: right;
  width: 82%;
  line-height: 140%;
}

.sectionTitle h1 {
  font-family: 'Georgia', serif;
  font-size: 1.2em;
  color: #737373;
  margin-bottom: 6px;
}

.sectionContent h2 {
  font-family: 'Georgia', serif;
  font-size: 18px;
  color: #34495D;
}

.sectionBody {
  margin-top: 8px;
}

#mainArea .sectionContent .job h2 a:visited,
#mainArea .sectionContent .job h2 a {
  color: #34495D;
}

p.jobDate {
  margin: 4px auto 4px auto;
}

table {
  width: 100%;
  margin-left: 20px;
}

td {
  padding:0;
  margin:0;
  width: 30%;
}

.keySkills {
  list-style-type: none;
  margin-bottom: 20px;
  font-size: 1em;
  color: #444;
}

#references article {
  margin-bottom: 22px;
}

#references h2 {
  display: inline;
}

#references ul {
  list-style: none;
}

#references .fa {
  margin-right: 8px;
}

#references .ref_title {
  display: inline;
}

#skills article {
  margin-bottom: 20px;
}

#skills ul {
  margin: 0 auto;
}


#skills li {
  display: inline-block;
}

#skills ul > li:not(:last-child)::after {
  content: "\00b7";
  margin: 0 .25em;
}


#skills h2 {
  margin-bottom: 3px;
}

#other ul {
  list-style-type: square #fff;
  list-style-position: inside;
  margin-bottom: 25px;
}

#contactDetails i {
  width: 18px;
  text-align: center;
  padding-right: 8px;
}

table.references td {
  width: auto;
}

#footer, #copyright {
  padding: 22px 22px 12px 22px;
  background: #26272A;
  font-family: 'Calibri', sans-serif;
}

#footer .contact, #footer .top {
  float: left;
  width: 50%;
}

#footer .top {
  text-align: right;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover {
  color: #EBD94C;
  text-decoration: underline;
}

#footer:after {
  content: "";
  display: table;
  clear: both;
}

#copyright {
  text-align: center;
  background: #26272A;
  padding: 0px 22px 12px 22px;
}

@media all and (max-width: 800px) {
  #contactDetails ul li a {
    font-size: 1.1em;
    color: #e9dd83;
  }
}

@media all and (min-width: 602px) and (max-width: 800px) {
  #headshot {
    display: none;
  }

  .keySkills {
  -moz-column-count:2;
  -webkit-column-count:2;
  column-count:2;
  }
}

@media all and (max-width: 601px) {
  #cv {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
  }

  #headshot {
    display: none;
  }

  #name, #contactDetails {
    float: none;
    width: 100%;
    text-align: center;
  }

  .sectionTitle, .sectionContent {
    float: none;
    width: 100%;
  }

  .sectionTitle {
    margin-left: -2px;
    font-size: 1.25em;
  }

  .keySkills {
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
  }
}

@media all and (max-width: 480px) {
  .mainDetails {
    padding: 15px 15px;
  }

  section {
    padding: 15px 0 0;
  }

  #mainArea {
    padding: 0 25px;
  }


  .keySkills {
  -moz-column-count:1;
  -webkit-column-count:1;
  column-count:1;
  }

  #name h1 {
    line-height: .8em;
    margin-bottom: 4px;
  }

  #contactDetails {
    font-size: 1.2em;
  }

  #contactDetails ul li a {
    font-size: 1.2em;
    color: #70ad8f;
  }

}

@media print {
  * {
    font-family:georgia, times, serif;
  }
  html,body {
    background: none;
  }
  body {
    /*margin: 25mm 25mm 25mm 25mm;*/
  }
  /*@page { size:8.5in 11in; margin: 2cm }*/
  #cv {
    width: 90%;
    border: none;
    box-shadow: none;
  }

  .mainDetails {
    border-bottom: 1px solid #646464;
  }

  #mainArea {
    border-top: none;
    padding: 0 20px 20px 20px;
  }
  #mainArea a {
    color: #5A595A;
    text-decoration: none;
  }

  #mainArea a:visited {
    color: #5A595A;
    text-decoration: none;
  }
  #mainArea .sectionContent .job h2 a:visited,
  #mainArea .sectionContent .job h2 a {
    color: #34495D;
  }
  #skills li {
    display: inline-block;
    vertical-align: top;
    padding: none;
    margin: none;
  }
  #name h1 {
    color: #444;
  }

  #name h2 {
    color: #555;
  }

  #footer, #copyright {
    display: none;
  }

  .sectionTitle h1 {
    color: #555;
  }

  #contactDetails ul li,
  #contactDetails a,
  #contactDetails ul li a, a[href^=tel] {
    color: #555;
  }

  .jobNote {
    color: #666;
  }

  article {
    page-break-inside: avoid;
  }

  #headshot {
    display:none;
  }

}
