    <div id="footer">
        <div id="foot_contact">
            <a href="mailto:josh@joshbeard.me"><i class="fas fa-fw fa-envelope"></i>&nbsp;<span>josh@joshbeard.me</span></a>
        </div>
        <div id="foot_to_top">
            <a href="#top"><i class="fas fa-fw fa-arrow-circle-up"></i>&nbsp;<span>Back to Top</span></a>
        </div>
        <div class="clear"></div>
        <div id="foot_source">
            <a href="https://github.com/joshbeard/resume"><i class="fab fa-fw fa-git-alt"></i>&nbsp;<span>Resume source on GitHub</span></a><br />
        </div>
        <div id="foot_copyright">
            <span>&copy; 2022 Josh Beard</span>
        </div>
        <div class="clear"></div>
    </div>
</div>
