    <meta charset="UTF-8"/>

    <meta name="description" content="Josh Beard is an IT professional in Colorado"/>
    <meta name="keywords" content="joshua beard, josh, joshbeard, jashbeard, devops, sysadmin, colorado springs, josh beard colorado springs, josh beard colorado, josh beard devops, josh beard denver, joshua beard colorado springs, joshua beard devops, devops engineer, colorado springs devops, colorado springs devops engineer, colorado devops engineer, denver devops engineer, josh beard resume, joshua beard resume, devops resume, devops engineer resume, sysadmin resume, systems administrator resume, josh beard sysadmin, josh beard systems administrator, josh beard apogee engineering, joshua beard apogee engineering, josh beard usgs, josh beard puppet, josh beard dsdk12"/>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <!-- Open Graph -->
    <meta property="og:locale" content="en_US"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Josh Beard's Resume"/>
    <meta property="og:description" content="Josh Beard is an IT professional in Colorado"/>
    <meta property="og:url" content="https://joshbeard.me/resume/"/>
    <meta property="og:site_name" content="Josh Beard's Resume"/>
    <meta property="og:image" content="https://joshbeard.me/resume/assets/img/resume-og.png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>

    <link rel="canonical" href="https://joshbeard.me/resume/"/>

    <link type="text/css" rel="stylesheet" href="assets/fonts/fa/css/all.css"/>
    <!--
    <link rel="manifest" href="/site.webmanifest"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png"/>
    -->