# {{ .name }}

## {{ .headline }}

## Contact Details

* Email: [{{ .contact.email }}](mailto:{{ .contact.email }})
* Web: [{{ .contact.web.title }}]({{ .contact.web.url }})
* GitHub: [github.com/{{ .contact.github }}](https://github.com/{{ .contact.github }})
* Location: [{{ .contact.location.title }}]({{ .contact.location.url }})
* [Other Formats](#other-formats)

## Summary

{{ .summary }}

## Experience
{{- range .experience }}
### {{ .title }} with {{ .org }}

{{ .start }} - {{ .end }}{{- if has . "location" }} - {{ .location }}{{- end }}
{{- range .details }}
* {{ . }}
{{- end }}
{{- if .tech }}

_Key technology and skills: {{- range $index, $skill := .tech }}{{- if gt $index 0 }}, {{ end }}{{ $skill }}{{- end }}_
{{- end }}
{{- end }}
## Skills

{{- range $category, $skills := .skills }}
### {{ $category }}
{{- range $skills }}
- {{ . }}
{{- end }}
{{- end }}

## Other Formats

* Web/HTML: <{{ .url }}>
* PDF: <{{ .formats.pdf.url }}>
* Word: <{{ .formats.word.url }}>
* Text: <{{ .formats.txt.url }}>
* Narrow Text: <{{ .formats.txt.narrow_url }}>
* JSON: <{{ .formats.json.url }}>
* `{{ .formats.gemini }}`
* `{{ .formats.gopher }}`
* `finger resume@jbeard.co`
* man page:
  * Linux/GNU: `{{ .formats.man_page.linux_gnu }}`
  * macOS/BSD: `{{ .formats.man_page.mac_bsd }}`