* {
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  font-family: Helvetica, Verdana, sans-serif;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
  display:block;
}

html, body {
  background: #408663;
  font-family: Helvetica, Verdana, sans-serif;
  color: #5A595A;
  margin: 0;
  padding: 0;
}

header {
  display: none;
}

.clear {
  clear: both;
}

img.icon {
  width: 14px;
  margin-right: 6px;
}

p {
  font-size: 1em;
  line-height: 1.4em;
  color: #5A595A;
}

#cv {
  width: 90%;
  max-width: 1024px;
  background: #F2F2F2;
  margin: 20px auto;
  box-shadow: 0 0 25px #333333;
}

#heading {
  padding: 25px 35px 12px;
  border-bottom: 1px dashed #408663;
  background: #373A44;
  display: flex;
  flex-direction: row;
}

#name {
  flex: 1;
}

#heading_extra {
  overflow: hidden;
  flex: 0 1 auto;
}

h1 {
  font-size: 2.5em;
  margin-bottom: -6px;
  line-height: 1.4em;
  color: #fff;
  content: "Josh Beard";
}

#name h2 {
  font-size: 1em;
  margin-left: 2px;
  color: #ededed;
}

h1, h2, h3 {
  font-family: Helvetica, Verdana, sans-serif;
}

#resume_content {
  padding: 0 40px 20px;
}

#resume_content a:link {
  color: #045FB4;
  text-decoration: none;
}

#resume_content a:visited {
  color: #380B61;
  text-decoration: none;
}

#resume_content a:hover, #resume_content a:active {
  text-decoration: underline;
}

#contact_details ul,
#other_formats ul {
  list-style-type: none;
  font-size: 0.9em;
  margin-top: 2px;
  font-family: Helvetica, Verdana, sans-serif;
}

#other_formats ul {
  font-size: 0.8em;
}

#other_formats {
  background: #16171B;
  color: #fff;
  padding: 4px 12px;
  text-align: right;
  font-variant: small-caps;
}

#contact_details ul li,
#other_formats ul li {
  color: #fff;
}

#contact_details ul li a,
#other_formats ul li a,
a[href^=tel] {
  color: #fff;
  text-decoration: none;
}

#contact_details ul li a:hover,
#other_formats ul li a:hover {
  color: #EBD94C;
}

#other_formats li {
  display: inline;
  margin-left: 6px;
}

#other_formats li:first-child {
  margin-left: 0px;
}

article.job {
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px dashed #dedede;
}

article.job:last-child {
  border-bottom: none;
}

h3 + ul,
article.job ul {
  list-style: square inside;
  margin: 20px 0 0 10px;
}

h3 + ul li,
article.job ul li {
  margin-bottom: 4px;
}

article.job ul li p {
  display: inline;
}

.jobNote {
  color: #777;
  margin-bottom: 4px;
}

section {
  border-top: 1px solid #dedede;
  padding: 20px 0 0;
  display: flex;
}

section:first-child {
  border-top: 0;
}

section:last-child {
  padding: 20px 0 10px;
}

section h2 {
  /* width: 18%; */
  width: 130px;
  margin-right: 10px;
  word-wrap: break-word;
  flex: 0 1 auto;
}

.section_content {
  /* width: 82%; */
  flex: 1;
  line-height: 140%;
  margin-bottom: 20px;
}

h2 {
  font-size: 1.2em;
  color: #737373;
  margin-bottom: 6px;
}

h3 {
  font-size: 18px;
  color: #34495D;
  margin-bottom: 10px;
  margin-top: 20px;
}

h3:first-child {
  margin-top: 0;
}

.section_body {
  margin-top: 8px;
}

#resume_content .section_content .job h2 a:visited,
#resume_content .section_content .job h2 a {
  color: #34495D;
}

#footer {
  padding: 22px 22px 12px;
  color: #fff;
  display: flex;
}

#footer_left,
#footer_right {
  width: 50%;
}

#footer, #foot_copyright {
  background: #26272A;
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.5;
}

#footer #foot_copyright,
#footer #foot_to_top {
  text-align: right;
}

#footer a, #foot_copyright a {
  color: #fff;
  text-decoration: none;
}

#footer a:hover, #foot_copyright a:hover {
  color: #EBD94C;
  text-decoration: underline;
}

/*
@media all and (max-width: 800px) {
  #contact_details ul li a {
    font-size: 1.1em;
  }
}
*/

@media all and (max-width: 601px) {
  #cv {
    width: 95%;
    margin: 10px auto;
    min-width: 280px;
  }

  #heading {
    display: block;
    text-align: center;
  }
  #other_formats {
    text-align: center;
  }
  section {
    display: block;
  }

  section h2, .section_content {
    width: 100%;
  }

  section h2 {
    font-size: 2em;
  }

  #footer {
    display: block;
    line-height: 3;
  }

  #footer_left, #footer_right {
    width: auto;
  }

  #footer #foot_contact,
  #footer #foot_copyright,
  #footer #foot_source,
  #footer #foot_to_top {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 3;
  }

}

@media all and (max-width: 480px) {
  #heading {
    padding: 15px;
  }

  section {
    padding: 15px 0 0;
  }

  #resume_content {
    padding: 0 25px;
  }

  #name h1 {
    line-height: .8em;
    margin-bottom: 4px;
  }

  #name h2 {
    font-size: 1.2em;
  }

  #contact_details {
    font-size: 1.2em;
  }

  #contact_details ul li a {
    color: #70ad8f;
  }

}

@media print {
  html,body {
    background: none;
  }
  a {
    color: #333;
    text-decoration: none;
  }
  #cv {
    width: 100%;
    border: none;
    box-shadow: none;
    background: #fff;
  }

  #heading {
    padding: 8px;
    border: 1px solid #ccc;
    background: #f2f2f2;
    display: flex;
    text-align: left;
  }

  #heading_right,
  #heading_left {
    text-align: left;
  }

  #other_formats {
    display: none;
  }

  img.icon {
    display: none;
  }

  #resume_content {
    border-top: none;
    padding: 0;
  }
  #resume_content a:link {
    color: #5A595A;
    text-decoration: none;
  }

  #resume_content a:visited {
    color: #5A595A;
    text-decoration: none;
  }
  h3 a:visited,
  h3 a {
    color: #34495D;
  }
  #name h1 {
    color: #444;
  }

  #name h2 {
    color: #555;
  }

  #footer, #foot_copyright {
    display: none;
  }

  section h2 {
    color: #555;
    font-size: 1.5em;
  }

  .section_content {
    margin-top: 10px;
  }

  #contact_details ul li,
  #contact_details a,
  #contact_details ul li a, a[href^=tel] {
    color: #555;
  }

  /*
  article {
    page-break-inside: avoid;
  }
  */

}
